<?xml version="1.0"?>
<document type="freeswitch/xml">
  <section name="dialplan">
    <context name="{{context}}">
      <extension name="{{number.number}}">
        <condition field="destination_number" expression="^{{number.number}}$">
          {{#each number.headers}}
          <action application="set" data="sip_rh_{{this.name}}={{this.value}}"/>
          {{/each}}
          <action application="bridge" data="{{#if mangle_from_domain}}{sip_invite_domain={{mangle_from_domain}},timeout=360}{{/if}}sofia/external/{{number.destination}}"/>
        </condition>
      </extension>
    </context>
  </section>
</document>
